<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="simplu" class="ro.rosmof.config.various.Graph"/>

    <!--<bean id="springMain" class="ro.rosmof.config.SpringMain"/>-->

    <bean id="defaultGraphDao" class="ro.rosmof.config.various.GraphDaoImpl" scope="prototype"/>

    <bean id="defaultGraphService" class="ro.rosmof.config.various.GraphService">
        <lookup-method name="getGraphDao"/>
    </bean>

    <bean id="processor" class="ro.rosmof.config.various.TestProcessor"/>

</beans>